<div class="container">
  <div class="form-container">
    <h2 class="form-title">Login to Tasbeera</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
        <div *ngIf="submitted && f['email'].errors" class="form-error">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Please enter a valid email</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control"
          placeholder="Enter your password">
        <div *ngIf="submitted && f['password'].errors" class="form-error">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-block">Login</button>
      </div>

      <div *ngIf="loginError" class="form-error text-center">
        {{ loginError }}
      </div>

      <div class="text-center mt-3">
        Don't have an account? <a routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div>